/* Home.css */

.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home-link {
  display: block;
  margin-top: 15px;
  color: #1da1f2;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}
